<web-app>
<context-param>
<param-name>message</param-name>
<param-value>WELCOME TO</param-value>
</context-param>
<servlet>
<servlet-name>newapp</servlet-name>
<servlet-class>Newclass</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>newapp</servlet-name>
<url-pattern>/newapp</url-pattern>
</servlet-mapping>
</web-app>